@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  input[type='number']::-webkit-inner-spin-button,
  input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

/* Banner */

.rotating-text {
  display: flex;
  width: 100%; 
  animation: marquee 18s linear infinite;
}

.rotating-text div {
  white-space: nowrap;
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

/* Landing page */

.staking-solo-stats {
  color: #00B1F4;
}

/* Hide the icon on screens smaller than 640px */
@media (max-width: 640px) {
  .icon-learn-smooth {
    display: none;
  }
}

