@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  input[type='number']::-webkit-inner-spin-button,
  input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

/* Banner */

.rotating-text {
  display: flex;
  width: 100%;
  overflow: hidden;
}

.rotating-text div {
  display: inline-block;
  animation: marquee 20s linear infinite;
  will-change: transform;
}

@keyframes marquee {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(-100%);
  }
}

