/* src/styles/stats.module.css */

.statsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .row {
    display: flex;
    flex-wrap: wrap;
    gap: 20px; /* Adds space between columns */
    width: 100%;
    justify-content: center;
  }
  
  .column {
    flex: 1;
    padding: 20px;
    min-width: 320px; /* Adjust minimum width for responsiveness */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow */
    border-radius: 8px; /* Rounded corners for a modern look */
    background-color: rgba(255, 255, 255, 0.8); /* Slight translucency */
    margin: 10px;
  }
  
  .chartTitle {
    text-align: center;
    font-size: 20px;
    margin-bottom: 20px;
    color: #333; /* Adjust the color to match your theme */
  }
  